<h1>Task Manager</h1>

<h3>Hello and welcome to my task manager web application!</h3>
<br/>
<p>Please <a href="/Identity/Account/Login">Log In</a> to view your tasks or <a href="https://localhost:44347/Identity/Account/Register ">Register </a> an account to begin!</p>